@font-face {
	font-family: 'Pokemon Hollow';
	src: url('fonts/Pokemon Hollow.eot');
	src: local('☺'), url('fonts/Pokemon Hollow.woff') format('woff'), url('fonts/Pokemon Hollow.ttf') format('truetype'), url('fonts/Pokemon Hollow.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1.main-head {
    font-family: "Pokemon Hollow";
    text-align: center;
}
