<!DOCTYPE HTML>
<html>
	<head>
		<title>Mundo Pokemon - Mapa Regional</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="PokeMap">
		<meta name="mobile-web-app-capable" content="yes">

		<!-- Fav- & Apple-Touch-Icons -->
		<!-- Favicon -->
		<link rel="shortcut icon" href="static/appicons/favicon.ico" type="image/x-icon">
		<!-- non-retina iPhone pre iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/114x114.png" sizes="57x57">
		<!-- non-retina iPad pre iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/144x144.png" sizes="72x72">
		<!-- non-retina iPad iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/152x152.png" sizes="76x76">
		<!-- retina iPhone pre iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/114x114.png" sizes="114x114">
		<!-- retina iPhone iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/120x120.png" sizes="120x120">
		<!-- retina iPad pre iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/144x144.png" sizes="144x144">
		<!-- retina iPad iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/152x152.png" sizes="152x152">
		<!-- retina iPhone 6 iOS 7 -->
		<link rel="apple-touch-icon" href="static/appicons/180x180.png" sizes="180x180">

		<link rel="stylesheet" href="static/css/style8.css" />
		<link rel="stylesheet" href="static/dist/css/app.min.css" />
		<script src="static/js/vendor/modernizr.custom.js"></script>
		<link rel="stylesheet" href="static/globalcss.css" media="screen" title="no title" charset="utf-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="https://use.fontawesome.com/762d0df076.js"></script>

    <style>
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }

        #map {
        	height: 100vh;
        	width: 100vw;
        }
    </style>
	</head>
	<body id="top">

		<!-- Header -->
		<header id="header" class="transparent">
			<a href="#nav"></a>
			<h1>Mundo Pokémon</h1>
		</header>

		<!-- Nav -->
		<nav id="nav" class="transparent">
				Pokemon
				<div class="onoffswitch">
	      	<input id="pokemon-switch" type="checkbox" name="pokemon-switch" class="onoffswitch-checkbox" checked />
	        <label class="onoffswitch-label" for="pokemon-switch">
	          <span class="switch-label" data-on="On" data-off="Off"></span>
	          <span class="switch-handle"></span>
	        </label>
	      </div>
				Gyms
				<div class="onoffswitch">
	      	<input id="gyms-switch" type="checkbox" name="gyms-switch" class="onoffswitch-checkbox" checked />
	        <label class="onoffswitch-label" for="gyms-switch">
	          <span class="switch-label" data-on="On" data-off="Off"></span>
	          <span class="switch-handle"></span>
	        </label>
	      </div>
				Pokéstops
				<div class="onoffswitch">
					<input id="pokestops-switch" type="checkbox" name="pokestops-switch" class="onoffswitch-checkbox" checked />
					<label class="onoffswitch-label" for="pokestops-switch">
						<span class="switch-label" data-on="On" data-off="Off"></span>
						<span class="switch-handle"></span>
					</label>
				</div>
			<button style="display:none;" id="trigger-overlay">Test overlay</button>
			<button type="button" name="button" onclick="pokemonGoApp.authFunctionality.killSession();"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
            Map style
            <div>
                <select name="mapstyle" id="mapstyle-select" title="Map style">
                    <option value="dark">Dark theme</option>
                    <option value="default">Default theme</option>
                </select>
            </div>
            <br>
			<button id="trigger-overlay">Test overlay</button>

		</nav>

		<div class="login-form-container">
            <h1 class="main-head">Mundo Pokémon</h1>
            <h2 class="sub-head">Inicio de sesión:</h2>
            <form class="login-form" action="javascript:;" onsubmit="pokemonGoApp.authFunctionality.validateLogin(this);" method="post">
                <input type="text" name="username" value="" placeholder="Usuario">
                <input type="password" name="password" value="" placeholder="Contraseña">
                <input type="submit" name="submit" value="Iniciar">
            </form>
        </div>

		<div id="main" class="map-container transparent">
			<div id="map"></div>
			<div id="zoom-in">ACERCAR</div>
			<div id="zoom-out">ALEJAR</div>
	    </div>

		<div class="overlay overlay-contentscale">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="#">Ejemplo</a></li>
				</ul>
			</nav>
		</div>
	</body>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}"></script> -->
<script type="text/javascript" src="static/auth.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>

<script type="text/javascript" src="static/dist/js/app.min.js"></script>
<script type="text/javascript" src="static/js/vendor/classie.js"></script>
<script type="text/javascript" src="static/js/vendor/svg-overlay.js"></script>

<script type="text/javascript">
var center_lat = {{lat}};
var center_lng = {{lng}};
</script>

  <script type="text/javascript">
    var center_lat = {{lat}};
    var center_lng = {{lng}};
    var mapStyles = [];
  </script>

  <script type="text/javascript" src="static/mapstyles.js"></script>
  <script type="text/javascript" src="static/map.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gmaps_key }}&callback=initMap"></script>
</html>
